@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  background-color: #f7f2e9;
  color: #252525;
  /* min-height: 100vh; */
  font-size: 1.6rem;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 8rem;
  color: #edc84b;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.app {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.pizzas {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1rem;
}

.pizza {
  display: flex;
}

.pizza img {
  width: 20rem;
  margin-right: 1rem;
}
